.W-W-contaner {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #ddd;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.color-green {
  background-color: #cef2e0;
}
.color-dark-green {
  background-color: #a3bfb1;
}
.padding {
  padding: 10px;
}
