.W-W-contaner {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #ddd;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.color-green {
  background-color: #cef2e0;
}
.color-dark-green {
  background-color: #a3bfb1;
}
.color-blue {
  background-color: #cedff2;
}
.color-dark-blue {
  background-color: #a3b0bf;
}
.color-purple {
  background-color: #ddcef2;
}
.color-dark-purple{
  background-color: #afa3bf;
}
.padding {
  padding: 4px;
}
.project-sister {
  line-height: 6px;
  padding: 5px;
}
.left-nav-bar {
  background-color: #ddd;
  float: left;
  margin-right: 15px;
  padding-left: 20px;
}
.w-l-scale {
  width: 150px;;
}

.margin-sister {
  margin: 20px;
}
.project-sister p:first-child {
  color: blue;
}
.saturn {
  float: left;
  margin-right: 18px;
}
.thaler{
  float: right;
  margin-left: 10px;
}
.nikita{
  float: right;
  margin-left: 10px;
}
.optima {
  float: right;
  margin-left: 10px;
}
.safran {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.other-list-one {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.sister-par {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.wiki-language-tab p {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.list {
  line-height: 15px;
}

.nav-panel {
  height: 100px;
  position: absolute;
top: 0;
bottom: 0;
}
